<a href="https://colab.research.google.com/github/bhushanyadav07/Data-Science-Hacks-Tips-and-Tricks/blob/master/MissingValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import pandas
import pandas as pd

In [13]:
df = pd.read_csv('/content/Loan payments data.csv')
df.head()

       Loan_ID loan_status  Principal  ...  age             education  Gender
0  xqd20166231     PAIDOFF       1000  ...   45  High School or Below    male
1  xqd20168902     PAIDOFF       1000  ...   50              Bechalor  female
2  xqd20160003     PAIDOFF       1000  ...   33              Bechalor  female
3  xqd20160004     PAIDOFF       1000  ...   27               college    male
4  xqd20160005     PAIDOFF       1000  ...   28               college  female

[5 rows x 11 columns]

In [0]:
#defining function
def missing(x):
  return sum(x.isnull())

In [16]:
#apply per column
print('missing value per columns')
df.apply(missing, axis = 0).head()

missing value per columns

Loan_ID           0
loan_status       0
Principal         0
terms             0
effective_date    0
dtype: int64

In [17]:
#apply per row
print('missing values as per rows')
df.apply(missing, axis = 1).head()

missing values as per rows

0    1
1    1
2    1
3    1
4    1
dtype: int64

##Extract E-mails from text

Here is an interesting hack to extract email ids present in long pieces of text by just using 2 lines of code in Python using regular expressions

In [0]:
import re
text = """The E-Book looks amazing and I would like a copy of it, here is my e-mail id - xyz@gmail.com | 
        Hi, I am looking for a job in data science field, please send me the E-book and kindly suggest
        how to move forward, thanks - ab_c@gmail.com"""

In [21]:
re.findall(r"([\w.-]+@[\w.-]+)", text)

['xyz@gmail.com', 'ab_c@gmail.com']